.venv
venv
.idea/
.DS_Store

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

*.tfplan

**/credentials.json
**/terraform.tfvars
terraform/credentials.auto.tfvars
terraform/set-env.sh
*.auto.tfvars

*.bak

.vscode/

.windsurfrules

src/DeliveryServices/logs/

src/DeliveryServices/target/
